<div class="row">

	<div class="col-md-3 text-center">
		<%= gravatar_for(@other, size: 40) %><br>
		<strong><%= @other.display_name %></strong>
		<%= link_to "View Profile", @other, class: "btn btn-default wide" %>
	</div>

	<div class="col-md-9">

		<div class="panel panel-default">
			<div class="panel-heading">
				Conversation with <%= @other.display_name %>
			</div>
			<div class="panel-body">
				<div class="container">

					<%= form_with model: [@conversation, @conversation.messages.new], local: true do | f | %>

						<div class="form-group">
							<%= f.text_area :content, placeholder: "Add a personal message", class: "form-control" %>
						</div>
						<%= f.hidden_field :user_id, value: current_user.id %>

						<div class="actions">
							<%= f.submit "Send Message", class: "btn btn-primary" %>
						</div>
					<% end %>

				</div>
			</div>
		</div>

		<div id="chat">
			<%= render @messages, locals: {conversation: @conversation} %>
		</div>

	</div>

</div>
