<% provide(:title, 'Art') %>

<div class="row mb-5">
  <div class="col-md-6 offset-md-3">
    <%= search_form_for @search, url: art_path do |f| %>

      <div class="form-group">
        <%= f.text_field :listing_name_or_description_cont, placeholder: "Search...", class:"form-control" %>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="wall_width">Minimum Width</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">cm</span>
              </div>
              <%= f.text_field :width_gteq, placeholder: "e.g. 40", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="wall_height">Max. Width</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend"">
                <span class="input-group-text" id="basic-addon2">cm</span>
              </div>
              <%= f.text_field :width_lteq, placeholder: "e.g. 100", class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="wall_width">Minimum Height</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">cm</span>
              </div>
              <%= f.text_field :height_gteq, placeholder: "e.g. 40", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="wall_height">Max. Height</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend"">
                <span class="input-group-text" id="basic-addon2">cm</span>
              </div>
              <%= f.text_field :height_lteq, placeholder: "e.g. 100", class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <%= f.check_box :status_eq, {}, "For Sale", nil %>
          <%= f.label :status_eq, "For Sale" %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.text_field :price_gteq, placeholder: "Min Price", class:"form-control" %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.text_field :price_lteq, placeholder: "Max Price", class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.select :category_eq, artwork_categories, { prompt: "Artwork Category" }, class: "form-control custom-select" %>
      </div>

      <div class="row">
        <div class="col">
          <%= f.submit "Search", class:"btn btn-block btn-primary", name:'' %>
        </div>
        <div class="col">
          <%= link_to "Clear", art_path, class:"btn btn-block btn-secondary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="card-columns">
    <% @arrArtworks.each do |artwork| %>

      <div class="card" style="border: none">
        <% if artwork.images.attached? %>
          <%= link_to image_tag(artwork.images[0], class:"card-img card-img-lg"), artwork %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= artwork.listing_name %></h5>
          <p class="card-text"><%= artwork.category %> by <%= link_to artwork.user.display_name, artwork.user, class:"text-muted" %></p>
          <p class="card-text small">
            <% if !artwork.price.nil? %>
              Price: <%= artwork.user.currency.upcase %> <%= artwork.price %><br>
            <% end %>
            <%= artwork.width %> x <%= artwork.height %> cm<br>
          </p>
        </div>
      </div>

    <% end %>
  </div>
</div>
