<% provide(:title, 'FAQ') %>
<% i=0 %>
<% ["General", "Businesses","Artists"].each do |category| %>
  <h2 class="mt-5"><%= category %></h2>

  <div class="accordion" id="faq<%= category %>">
  <% @faqs.where(category:category).each do |faq| %>

    <div class="card">
      <div class="card-header" id="heading<%= i %>">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
            <%= faq.question %>
          </button>
        </h2>
      </div>
      <div id="collapse<%= i %>" class="collapse<%= ' show' if i == 0 %>" aria-labelledby="heading<%= i %>" data-parent="#faq<%= category %>">
        <div class="card-body">
          <%= faq.answer %>
        </div>
      </div>
    </div>

    <% i+=1 %>
  <% end %>

  </div>

<% end %>
