<% provide(:title, 'Home') %>
<% provide(:pageheader, render('search_form')) %>

<% if logged_in? %>
  <%= render 'spaces/featured' %>
  <br>
  <%= render 'artworks/featured'%>
  <br>
<% else %>
  <div class="center jumbotron">
    <h1>We are making exhibition space more accessible.</h1>
    <h2>
      Showing art or photography to the public is an amazing experience. However, finding the right venue and organising an exhibition is often difficult, time-consuming and expensive.
      <br>
      We want to change that.
    </h2>

    <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= render 'spaces/featured'%>
  <%= render 'layouts/howitworks' %>

  <br>
  <br>
  <%= render 'artworks/featured'%>

<% end %>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})
</script>
