<% provide(:title, 'Find Space') %>

<div class="row mb-5">
  <div class="col-md-6">
    <%= search_form_for @search, url: search_path do |f| %>

      <div class="form-group">
        <%= f.text_field :listing_name_or_description_or_address_cont, placeholder: "Search...", class: "form-control" %>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class:"form-control" %>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.select :category_eq, space_categories, { prompt: "Space Category" }, class: "form-control custom-select" %>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.text_field :price_gteq, placeholder: "Min Price", class:"form-control" %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.text_field :price_lteq, placeholder: "Max Price", class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="wall_width">Minimum Wall Space Width</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">cm</span>
              </div>
              <%= f.text_field :wall_width_gteq, placeholder: "e.g. 40", class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="wall_height">Min. Height</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend"">
                <span class="input-group-text" id="basic-addon2">cm</span>
              </div>
              <%= f.text_field :wall_height_gteq, placeholder: "e.g. 40", class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

      <h5>Amenities:</h5>

      <div class="row mb-3">
        <div class="col">
          <div class="form-check">
            <%= f.check_box :is_adj_light_eq, {}, true, nil %> Adjustable Lighting
          </div>

          <div class="form-check">
            <%= f.check_box :is_dis_acc_eq, {}, true, nil %> Disabled Access
          </div>

          <div class="form-check">
            <%= f.check_box :is_hang_sys_eq, {}, true, nil  %> Hanging System
          </div>

          <div class="form-check">
            <%= f.check_box :is_nat_light_eq, {}, true, nil  %> Natural Light
          </div>

          <div class="form-check">
            <%= f.check_box :is_parking_eq, {}, true, nil  %> Parking
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <%= f.check_box :is_plugs_eq, {}, true, nil  %> Power Plugs
          </div>

          <div class="form-check">
            <%= f.check_box :is_sec_sys_eq, {}, true, nil  %> Security System
          </div>

          <div class="form-check">
            <%= f.check_box :is_storage_eq, {}, true, nil  %> Storage
          </div>

          <div class="form-check">
            <%= f.check_box :is_toilet_eq, {}, true, nil  %> Toilet
          </div>

          <div class="form-check">
            <%= f.check_box :is_wifi_eq, {}, true, nil  %> WiFi
          </div>
        </div>
      </div>

      <h5>I would like to exhibit:</h5>

      <div class="row mb-3">
        <div class="col">
          <div class="form-check">
            <%= f.check_box :is_drawings_eq, {}, true, nil %> Drawings
          </div>
          <div class="form-check">
            <%= f.check_box :is_paintings_eq, {}, true, nil %> Paintings
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <%= f.check_box :is_photography_eq, {}, true, nil %> Photography
          </div>
          <div class="form-check">
            <%= f.check_box :is_sculptures_eq, {}, true, nil %> Scultpures
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.submit "Search", class:"btn btn-block btn-primary", name:'' %>
        </div>
        <div class="col">
          <%= link_to "Clear", request.path, class:"btn btn-block btn-secondary" %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="col-md-6">
    <%= render 'search_map' %>
  </div>
</div>

<div class="row">
  <div class="card-columns">
    <% @arrSpaces.each do |space| %>

      <div class="card" style="border: none">
        <% if space.images.attached? %>
          <%= link_to image_tag(space.images[0], class:"card-img card-img-md"), space %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= space.listing_name %></h5>
          <p class="card-text"><%= space.type.name %> | <%= space.category %>
            <span class="badge badge-pill badge-secondary"><%= "Open Weekends" if space.open_weekends? %></span>

          </p>
          <p class="card-text small">
            Price: <%= space.user.currency.upcase %> <%= space.price %> per day<br>
            <%= space.wall_width %> x <%= space.wall_height %> cm<br>
            <small class="text-muted">Hosted by <%= link_to space.user.display_name, space.user, class:"text-muted" %></small>
          </p>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})
</script>
