<% provide(:title, 'Messages') %>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <main class="col-md-9 ms-sm-auto">
			<div class="card">
				<h5 class="card-header">Messages</h5>
				<ul class="list-group list-group-flush">
					<% @conversations.each do |conversation| %>
            <% if conversation.messages.any? %>
  						<li class="list-group-item">
  							<% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>
  							<%= link_to conversation_messages_path(conversation), class:"text-dark#{' font-weight-bold' unless conversation.unread_message_count(current_user).zero? }" do %>
  								<div class="row conversation">
  									<div class="col-md-1">
  										<%= gravatar_for(other, size: 40) %>
  									</div>
  									<div class="col-md-2">
  										<%= other.display_name %><br>
  									</div>
  									<div class="col-md-6">
  										<%= conversation.messages.first.content %>
  									</div>
  									<div class="col-md-2">
  										<%= conversation.messages.first.message_time %>
  									</div>
                    <div class="col-md-1">
                      <% if !conversation.unread_message_count(current_user).zero? %>
                        <span class="badge badge-pill badge-primary">
                          <%= conversation.unread_message_count(current_user) %>
                        </span>
                      <% end %>
                    </div>
  								</div>
    						<% end %>
              </li>
            <% end %>
					<% end %>
				</ul>
			</div>
    </main>
  </div>
</div>
