<div class="card">
  <% if artwork.images.attached? %>
    <%= image_tag artwork.images[0], class:"card-img" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= artwork.listing_name %></h5>
    <p class="card-text"><%= artwork.category %></p>
    <p class="card-text small">
      Price: £ <%= artwork.price %> per day<br>
      <%= artwork.category %><br>
      <%= artwork.width %> x <%= artwork.height %> cm<br>
      <small class="text-muted">Hosted by <%= link_to artwork.user.display_name, artwork.user, class:"text-muted" %></small>
    </p>
    <%= link_to "View", artwork, class:"card-link" %>
    <% if current_user?(artwork.user) %>
        <%= link_to "Edit", edit_artwork_path(artwork), class:"card-link" %>
        <%= link_to "Delete", artwork, method: :delete, data: { confirm: "Are you sure?" }, class:"card-link" %>
    <% end %>
  </div>
</div>
