<div class="card" style="border: none">
  <% if artwork.images.attached? %>
    <%= link_to image_tag(artwork.images[0], class:"card-img"), artwork %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= artwork.listing_name %></h5>
    <p class="card-text"><%= artwork.category %> by <%= link_to artwork.user.display_name, artwork.user, class:"text-muted" %></p>
    <p class="card-text small">
      <%= artwork.width %> x <%= artwork.height %> cm
      <% if !artwork.price.nil? %>
        | Price: <%= artwork.user.currency.upcase %> <%= artwork.price %>
      <% end %>
    </p>
  </div>
</div>
