<%= provide(:title, @artwork.listing_name ) %>
<% provide :pageheader, render('image_carousel')%>

<h1 class="center"><%= @artwork.listing_name %></h1>
<h2 class="center"><%= @artwork.category %> by <%= link_to @artwork.user.display_name, @artwork.user %></h2>

<div class="row">
  <div class="col-md">
    <div class="card-body center shadow">
      <p class="mb-2 text">Width: <%= @artwork.width %> cm | Height: <%= @artwork.height %> cm</p>
      <p class="mb-2 text"><%= @artwork.medium %> | <%= @artwork.year %></p>
      <p class="mb-2 text"><%= "Framed | " if @artwork.is_framed? %><%= @artwork.status %></p>
      <div>Price: £ <%= @artwork.price %></div>
      <% if @artwork.status=="Sold" %>
        <div class="text-right", style="font-size: 1.5em; color: Tomato;">
          <i class="fas fa-circle"></i>
        </div>
      <% end %>
    </div>
    <br>
  </div>

  <div class="col-md">
    <p><%= @artwork.description %></p>
    <p>Subject: <%= @artwork.subject %></p>
  </div>
</div>
<br>
<h2 class="mb-2 text-center"><%= render @artwork.styles %></h2>
