<h1>Featured Spaces</h1>
<h2><%= link_to "Discover more spaces", search_path, class: "text-muted" %></h2>
<div class="card-columns">
  <% @featured_spaces.each do |space| %>
    <div class="card" style="border: none">
      <% if space.images.attached? %>
        <%= link_to image_tag(space.images[0], class:"card-img card-img-md"), space %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= space.listing_name %></h5>
        <p class="card-text small"><%= space.type.name %> |
          <%= space.category %> | <%= space.wall_width %> x <%= space.wall_height %> cm</p>
      </div>
    </div>
  <% end %>
</div>
