<%= form_with(model: @space, local: true ) do |f| %>
  <h1>Your Beautiful Space</h1>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.select :category, space_categories, {prompt: "Category"}, class: "form-control custom-select", required: true %>
  </div>
  <div class="form-group">
    <%= f.collection_select(:type_id, Type.all, :id, :name,
    { prompt: "Venue Type" }, { multiple: false, class: "form-control custom-select", required: true } ) %>
  </div>
  <div class="form-group">
    <%= f.text_field :listing_name, placeholder: "Listing Name", class: "form-control", required: true, maxlength:60 %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, rows: 5, placeholder: "Detailed description", class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.text_field :address, placeholder: "Address", class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <h3>Amenities</h3>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <%= f.check_box :is_adj_light, class:"form-check-input", id:"adj_light" %>
          <label class="form-check-label" for="adj_light">Adjustable Lighting</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_toilet, class:"form-check-input", id:"toilet" %>
          <label class="form-check-label" for="toilet">Toilet</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_dis_acc, class:"form-check-input", id:"dis_access" %>
          <label class="form-check-label" for="dis_access">Disabled Access</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_parking, class:"form-check-input", id:"parking" %>
          <label class="form-check-label" for="parking">Parking</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_sec_sys, class:"form-check-input", id:"sec_sys" %>
          <label class="form-check-label" for="sec_sys">Security System</label>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <%= f.check_box :is_storage, class:"form-check-input", id:"storage" %>
          <label class="form-check-label" for="storage">Storage</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_hang_sys, class:"form-check-input", id:"hang_sys" %>
          <label class="form-check-label" for="hang_sys">Picture Hanging System</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_nat_light, class:"form-check-input", id:"nat_light" %>
          <label class="form-check-label" for="nat_light">Natural Light</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_plugs, class:"form-check-input", id:"plugs" %>
          <label class="form-check-label" for="plugs">Power Plugs</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_wifi, class:"form-check-input", id:"wifi" %>
          <label class="form-check-label" for="wifi">WiFi</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mb-4">
    <h3>We show:</h3>
    <div class="row">
      <div class="col">
        <div class="form-check">
          <%= f.check_box :is_drawings, class:"form-check-input", id:"drawings" %>
          <label class="form-check-label" for="drawings">Drawings</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_paintings, class:"form-check-input", id:"paintings" %>
          <label class="form-check-label" for="paintings">Paintings</label>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <%= f.check_box :is_photography, class:"form-check-input", id:"photography" %>
          <label class="form-check-label" for="photography">Photography</label>
        </div>
        <div class="form-check">
          <%= f.check_box :is_sculptures, class:"form-check-input", id:"scultpures" %>
          <label class="form-check-label" for="scultpures">Sculptures</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="wall_width">Wall Space Width</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">cm</span>
          </div>
          <%= f.text_field :wall_width, placeholder: "e.g. 120", class: "form-control", required: true, type:"number", step:"0.01", min:"0" %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="wall_height">Height</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend"">
            <span class="input-group-text" id="basic-addon2">cm</span>
          </div>
          <%= f.text_field :wall_height, placeholder: "e.g. 120", class: "form-control", required: true, type:"number", step:"0.01", min:"0" %>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="price">Price per day</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3"><%= current_user.currency.upcase %></span>
      </div>
      <%= f.text_field :price, placeholder: "e.g. 12.50", class: "form-control", required: true, type:"number", step:"0.01", min:"5" %>
    </div>
    <small class="form-text text-muted">
      You can update your default currency in your profile settings.
    </small>
  </div>

  <div class="mb-3">
    <label for="price">Minimum Booking Duration</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Days</span>
      </div>
      <%= f.text_field :days_min, placeholder: "e.g. 3", class: "form-control", required: true, type:"number", min:"1" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :instagram %>
    <%= f.text_field :instagram, class: "form-control", placeholder:"instagram handle, e.g. exhybyt" %>
  </div>
  <div class="form-group">
    <%= f.label :facebook %>
    <%= f.text_field :facebook, class: "form-control", placeholder:"facebook handle, e.g. exhybyt" %>
  </div>
  <div class="form-group">
    <%= f.label :twitter %>
    <%= f.text_field :twitter, class: "form-control", placeholder:"twitter handle, e.g. exhybyt" %>
  </div>
  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control", placeholder:"website, e.g. www.exhybyt.com" %>
  </div>

  <div class="form-group">
    <h3>Days Open:</h3>
    <% weekdays.each do |day| %>
      <%= f.fields_for :schedules, f.object.schedules.find_or_initialize_by(weekday: day[:value]) do |sched| %>
        <%= sched.hidden_field :weekday %>
        <div class="checkbox">
          <%= sched.check_box :_destroy, {checked: sched.object.persisted?}, "0", "1" %>
          <%= sched.label :_destroy, day[:label] %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <div class="custom-control custom-switch">
      <%= f.check_box :active, class:"custom-control-input", id:"active" %>
      <label class="custom-control-label" for="active">Active</label>
    </div>
  </div>

  <div class="form-group">
    <%= f.file_field :images, accept: "image/jpeg, image/gif, image/png", multiple:true %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-block btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $("#space_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
    alert("image cannot exceet 5MB. Please choose a smaller file.");
    }
    $("#space_image").val("");
  });
</script>
