<% if @space.nearbys(10) %>
  <div class="row">
    <h3>Nearby Spaces</h3>
    <div class="card-group">
      <% for space in @space.nearbys(10).take(3) %>
        <div class="card">
          <% if space.images.attached? %>
            <%= image_tag space.images[0], class:"card-img" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= space.listing_name %></h5>
            <p class="card-text"><%= space.venue_type %> | <%= space.distance.round(2) %> km away</p>
            <p class="card-text small">
              Price: <%= space.user.currency.upcase %> <%= space.price %> per day<br>
              <%= space.category %><br>
              <%= space.wall_width %> x <%= space.wall_height %> cm<br>
              <small class="text-muted">Hosted by <%= link_to space.user.display_name, space.user, class:"text-muted" %></small>
            </p>
            <%= link_to "View", space, class:"card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
