<li id="space-<%= space.id %>">
  <span class="listing_name"><%= link_to space.listing_name, space %>
    <% if current_user?(space.user) %>|
      <%= link_to "delete", space, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
  <span class="user">Hosted by <%= link_to space.user.firstname + " " + space.user.lastname, space.user %></span>
  <span class="timestamp">Wall Space: <%= space.wall_width %> x <%= space.wall_height %> cm (w x h)</span>
  <span class="timestamp">Price: £ <%= space.price %> per day</span>
  <span class="listing_name"><%= space.description %></span>
  <span class="user">
    <% if space.images.attached? %>
      <% space.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [500,500]) %>
      <% end %>
    <% end %>
  </span>
</li>
