<div class="card" style="border: none">
  <% if space.images.attached? %>
    <%= link_to image_tag(space.images[0], class:"card-img card-img-md"), space %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= space.listing_name %></h5>
    <p class="card-text"><%= space.venue_type %> | <%= space.category %></p>
    <p class="card-text small">
      <%= space.wall_width %> x <%= space.wall_height %> cm | <%= space.user.currency.upcase %> <%= space.price %> per day<br>
    </p>
  </div>
</div>
