<%= provide(:title, @space.listing_name ) %>
<% provide :pageheader, render('image_carousel')%>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-left"><%= @space.listing_name %></h1>
      <h2 class="text-left"><%= @space.type.name %> | <%= @space.category %></h2>
      <p><%= @space.address %></p>
      <p>Width: <%= @space.wall_width %> cm | Height: <%= @space.wall_height %> cm</p>
      <p>Price: <%= @space.user.currency.upcase %> <%= @space.price %> per day</p>
      <p>Minumum Booking Period: <%= pluralize(@space.days_min, "Day") %></p>
      <p>Hosted by <%= link_to @space.user.display_name, @space.user, class:"text-muted" %></p>

      <p><%= @space.description %></p>
    </div>

    <div class="col-md-4">
      <% if !logged_in? %>
        <div class="alert alert-warning" role="alert">
          Please log in to check dates and book.
        </div>
      <% elsif !@space.active? %>
        <div class="alert alert-secondary" role="alert">
          Space is inactivated and doesn't accept any bookings.
        </div>
      <% else %>
        <%= render 'reservations/form' %>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card shadow" style="border: none">
    <%= render 'amenities' %>
  </div>
  <div class="card shadow" style="border: none">
    <%= render 'we_show' %>
  </div>
</div>


<br>

<!--Reviews -->
<div class="container mb-5 center">
  <h5><span id="average_rating"></span> <%= pluralize(@reviews.count, "Review") %> </h5>
  <%= render 'reviews/list' %>
</div>

<!-- Google Map -->

<div class="row">
  <%= render 'map' %>
</div>

<br>

<% if current_user?(@space.user) %>
  <div class="container mb-5 center">
    <div class="btn-group">
      <%= link_to "Edit", edit_space_path(@space), class:"btn btn-sm btn-outline-secondary" %>
      <%= link_to "Delete", @space, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
<% end %>

<!--Nearby Spaces -->

<!-- Raty Script -->

<script>
  $('#average_rating').raty({
    path: '/images',
    readOnly: true,
    score: <%= @space.average_rating %>
  })
</script>
