<%= provide(:title, @space.listing_name ) %>
<% provide :pageheader, render('image_carousel')%>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-left"><%= @space.listing_name %></h1>
      <h2 class="text-left"><%= @space.venue_type %> | <%= @space.category %></h2>
      <p><%= @space.address %></p>
      <p>Width: <%= @space.wall_width %> cm | Height: <%= @space.wall_height %> cm</p>
      <p>Price: <%= @space.user.currency.upcase %> <%= @space.price %> per day</p>
      <p><%= @space.description %></p>
    </div>

    <div class="col-md-4">
      <% if !logged_in? %>
        <div class="alert alert-warning" role="alert">
          Please log in to check dates and book.
        </div>
      <% elsif !@space.active? %>
        <div class="alert alert-secondary" role="alert">
          Space is inactivated and doesn't accept any bookings.
        </div>
      <% else %>
        <%= render 'reservations/form' %>
      <% end %>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card shadow" style="border: none">
    <%= render 'amenities' %>
  </div>
  <div class="card shadow" style="border: none">
    <%= render 'we_show' %>
  </div>
</div>


<br>

<!--Reviews -->
<div class="container">
  <h3>Reviews <span id="average_rating"></span> (<%= @reviews.count %>)</h3>
  <%= render 'reviews/list' %>
  <%= render 'reviews/form' if @booked && !@hasReview %>
</div>

<!-- Google Map -->

<div class="row">
  <%= render 'map' %>
</div>

<br>

<!--Nearby Spaces -->

<!-- Raty Script -->

<script>
  $('#average_rating').raty({
    path: '/images',
    readOnly: true,
    score: <%= @space.average_rating %>
  })
</script>
