<%= provide(:title, @space.listing_name ) %>

<% if @space.images.attached? %>
  <div class="container-fluid-xl">
    <div class="row">
      <div>
        <%= image_tag @space.images[0], class:"img-fluid max-width: 100%" %>
      </div>
    </div>
  </div>
<% end %>

<div class="col p-4 d-flex flex-column position-static">
  <h2 class="d-inline-block mb-2 text"><%= @space.venue_type %></h2>
  <h1 class="center"><%= @space.listing_name %></h1>
  <h2 class="d-inline-block mb-2 text"><%= @space.category %></h2>
  <p class="d-inline-block mb-2 text center">Width: <%= @space.wall_width %> cm | Height: <%= @space.wall_height %> cm</p>
  <p class="d-inline-block mb-2 text center">Price: £ <%= @space.price %> per day</p>
  <p class="d-inline-block mb-2 text center"><%= @space.description %></p>
  <p class="d-inline-block mb-2 text center"><%= @space.address %></p>

  <%= render 'reservations/form' %>

  <div class="center">
    <h3><%= 'Amenities' if @space.is_toilet ||
                       @space.is_parking ||
                       @space.is_wifi ||
                       @space.is_dis_acc ||
                       @space.is_sec_sys ||
                       @space.is_hang_sys ||
                       @space.is_adj_light ||
                       @space.is_nat_light ||
                       @space.is_plugs ||
                       @space.is_storage %></h3>

    <p class="mx-auto" style="list-style-position: inside">
      <li class="<%= 'text-hide' if !@space.is_toilet %>">Toilet</li>
      <li class="<%= 'text-hide' if !@space.is_parking %>">Parking</li>
      <li class="<%= 'text-hide' if !@space.is_wifi %>">WiFi</li>
      <li class="<%= 'text-hide' if !@space.is_dis_acc %>">Disabled Access</li>
      <li class="<%= 'text-hide' if !@space.is_sec_sys %>">Security System</li>
      <li class="<%= 'text-hide' if !@space.is_hang_sys %>">Picture Hanging System</li>
      <li class="<%= 'text-hide' if !@space.is_adj_light %>">Adjustable Lighting</li>
      <li class="<%= 'text-hide' if !@space.is_nat_light %>">Natural Light</li>
      <li class="<%= 'text-hide' if !@space.is_plugs %>">Power Plugs</li>
      <li class="<%= 'text-hide' if !@space.is_storage %>">Storage</li>
    </p>
  </div>

  <div class="center">
      <h3><%= 'We are interested to show:' if @space.is_paintings || @space.is_photography || @space.is_drawings || @space.is_sculptures || @space.is_live_perf || @space.is_adverts %></h3>
      <p class="mx-auto" style="list-style-position: inside">
        <li class="<%= 'text-hide' if !@space.is_paintings %>">Paintings</li>
        <li class="<%= 'text-hide' if !@space.is_photography %>">Photography</li>
        <li class="<%= 'text-hide' if !@space.is_drawings %>">Drawings</li>
        <li class="<%= 'text-hide' if !@space.is_sculptures %>">Sculptures</li>
        <li class="<%= 'text-hide' if !@space.is_live_perf %>">Live Performances</li>
        <li class="<%= 'text-hide' if !@space.is_adverts %>">Advertisements</li>
      </p>
  </div>

  <% if @space.images.count > 1 %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <% if @space.images %>
        <ol class="carousel-indicators">
          <% @space.images.each do |image| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= image.id %>"<%= ' class="active"' if image.id == @space.images[0].id %></li>
          <% end %>
        </ol>
      <% end %>
      <div class="carousel-inner">
        <% if @space.images %>
          <% @space.images.each do |image| %>
            <div class="carousel-item<%= ' active' if image.id == @space.images[0].id %>">
              <%= image_tag image, class:"img-fluid" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% end %>

  <!-- Google Map -->
  <head>
    <title>Add Map</title>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API_KEY'] %>&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: <%= @space.latitude %>, lng: <%= @space.longitude %> };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>
  </body>
  <!--Nearby Spaces -->
  <div class="row">
    <h3>Nearby Spaces</h3>
    <div class="card-group">
      <% for space in @space.nearbys(10).take(3) %>
        <div class="card">
          <% if space.images.attached? %>
            <%= image_tag space.images[0], class:"card-img" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= space.listing_name %></h5>
            <p class="card-text"><%= space.venue_type %> | <%= space.distance.round(2) %> km away</p>
            <p class="card-text small">
              Price: £ <%= space.price %> per day<br>
              <%= space.category %><br>
              <%= space.wall_width %> x <%= space.wall_height %> cm<br>
              <small class="text-muted">Hosted by <%= link_to space.user.display_name, space.user, class:"text-muted" %></small>
            </p>
            <%= link_to "View", space, class:"card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
