<% provide(:title, 'Sign Up') %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <h1>Sign Up</h1>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :firstname, placeholder: "First Name", class: "form-control" %>
      <%= f.text_field :lastname, placeholder: "Last Name", class: "form-control" %>
      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %>
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
