<% provide(:title, 'Sign Up') %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: @user, local: true, class:"needs-validation", novalidate: true ) do |f| %>
      <h1>Sign Up</h1>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.text_field :firstname, placeholder: "First Name", class: "form-control shadow-sm", required: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :lastname, placeholder: "Last Name", class: "form-control shadow-sm", required: true %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email", class: "form-control shadow-sm", required: true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control shadow-sm", required: true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control shadow-sm", required: true %>
      </div>
      <div class="form-group">
        <%= recaptcha_tags %>
      </div>
      <div class="form-group">
        <%= f.submit "Sign Up", class: "btn btn-block btn-primary shadow-sm" %>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
          <label class="custom-control-label" for="customControlValidation1">I read and agree to EXHYBYT's <%= link_to "terms", terms_path %>, <%= link_to "privacy policy", privacypolicy_path %> and <%= link_to "cookie policy", cookiepolicy_path %>.</label>
          <div class="invalid-feedback">Please check this box to continue</div>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= f.check_box :marketing_consent, class:"custom-control-input", id:"marketing" %>
          <label class="custom-control-label" for="marketing">
            Opt in to receive occasional updates on spaces, artwork and exhibitions, and other announcements.
            We also don't like spam. That's why we make it easy for you to updated your email preferences or unsubscribe at anytime.
          </label>
        </div>
      </div>
    <% end %>
  </div>
</div>
