<%= provide(:title, @user.firstname + " " + @user.lastname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.spaces.any? %>
      <h3>Spaces <%= @user.spaces.count %></h3>
      <ol class="spaces">
        <%= render @spaces %>
      </ol>
      <%= will_paginate @spaces %>
    <% end %>
  </div>
</div>
