<% @exhibitions.each do |exhibition| %>
  <div class="card">
    <%= link_to image_tag(exhibition.artworks[0].images[0], class:"card-img card-img-lg"), exhibition.artworks[0] %>
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to gravatar_for(exhibition.user, size: 25), exhibition.user %>
        <%= exhibition.artworks[0].user.display_name %></h5>
      <p class="card-text small">
        <%= exhibition.start_date.strftime("%d %b %Y") %> to <%= exhibition.end_date.strftime("%d %b %Y") %><br>
      </p>
      <p class="card-text small">
        <%= link_to image_tag(exhibition.space.images[0], size: 25, class:"rounded-circle"), exhibition.space %>
        <%= exhibition.space.listing_name %>
        <% geo = Geocoder.search(exhibition.space.address).first %>
        <%= geo.city %>,
        <%= geo.country_code.upcase! %>
      </p>
    </div>
  </div>
<% end %>
