<%= form_with(model: @space.reservations.build, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">

  </div>
  <div class="col">
    <div class="form-group">
      <%= f.text_field :start_date, placeholder: "Start Date", class: "form-control" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.text_field :end_date, placeholder: "End Date", class: "form-control" %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= f.submit "Book Now", class:"btn btn-primary" %>
    </div>
  </div>
  <%= f.hidden_field :space_id, value: @space.id %>
  <%= f.hidden_field :price, value: @space.price %>
<% end %>
