<div class="card">
  <% if reservation.space.images.attached? %>
    <%= image_tag reservation.space.images[0], class:"card-img card-img-md" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= reservation.space.listing_name %></h5>
    <p class="card-text small">
      Total Price: <%= reservation.space.user.currency.upcase %> <%= reservation.total %><br>
      <%= reservation.start_date.strftime("%d %b %Y") %> to <%= reservation.end_date.strftime("%d %b %Y") %><br>
    </p>
    <p class="card-text small">
      <%= link_to gravatar_for(reservation.user, size: 25), reservation.user %>
      <%= reservation.user.display_name %>
    </p>
  </div>
</div>
