<% provide(:title, 'Your Resevations') %>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <main class="col-md-9 ms-sm-auto">
      <h1 class="text-left">Your Reservations</h1>
      <div class="card-columns">
        <% @spaces.each do |space| %>
          <% space.reservations.where(payment_completed:true).each do |reservation| %>
            <div class="card">
              <% if reservation.space.images.attached? %>
                <%= link_to image_tag(reservation.space.images[0], class:"card-img"), reservation %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= reservation.space.listing_name %></h5>
                <p class="card-text small">
                  Total Price: <%= reservation.space.user.currency.upcase %> <%= reservation.total %><br>
                  <%= reservation.start_date.strftime("%d %b %Y") %> to <%= reservation.end_date.strftime("%d %b %Y") %><br>
                </p>
                <p>
                  <% reservation.artworks.each do |artwork| %>
                   <%= link_to image_tag(artwork.images[0], width: 50), artwork %>
                  <% end %>
                </p>
                <p class="card-text small">
                  <%= link_to gravatar_for(reservation.user, size: 25), reservation.user %>
                  <%= reservation.user.display_name %>
                </p>
                <% if current_user?(reservation.space.user) %>
                  <% if reservation.approved? %>
                    <p class="card-text text-success small">Approved</p>
                  <% elsif reservation.rejected? %>
                    <p class="card-text text-danger small">Rejected</p>
                  <% elsif reservation.booking_request_expired? %>
                    <p class="card-text small">Expired</p>
                  <% else %>
                    <div class="btn-group">
                      <%= link_to "Approve", edit_reservation_approval_url(reservation), data: { confirm: "Are you sure?" }, class:"btn btn-sm btn-outline-secondary" %>
                      <%= link_to "Reject", edit_reservation_rejection_url(reservation), data: { confirm: "Are you sure?" }, class:"btn btn-sm btn-outline-secondary" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </main>
  </div>
</div>
