<div class="row mb-5">
  <div class="container center">
    <% if !@reservation.payment_completed? %>
      <h2>Incomplete booking request. Please try again.</h2>
    <% elsif @reservation.approved? %>
      <h2 class="text-success">Approved</h2>
    <% elsif @reservation.rejected? %>
      <h2 class="text-danger">Rejected</h2>
    <% elsif @reservation.booking_request_expired? %>
      <h2>Booking request expired.</h2>
    <% else %>
      <h2>Awaiting response.</h2>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="container center">
    <% if @reservation.space.images.attached? %>
      <%= link_to image_tag(@reservation.space.images[0], size:100), @reservation.space %>
    <% end %>

    <h5><%= @reservation.space.listing_name %></h5>
    <p>
      Total Price: <%= @reservation.currency.upcase %> <%= @reservation.total %><br>
      <%= @reservation.start_date.strftime("%d %b %Y") %> to <%= @reservation.end_date.strftime("%d %b %Y") %><br>
    </p>
    <% @reservation.artworks.each do |artwork| %>
      <%= link_to image_tag(artwork.images[0], size:100), artwork %>
    <% end %>
    <p>
      Artist:
      <%= @reservation.user.display_name %>
    </p>
    <p>
      Host:
      <%= @reservation.space.user.display_name %>
    </p>
  </div>
</div>

<%= link_to "View Details", @reservation %>
