<% if @reviews.any? %>
  <ul class="list-group list-group-flush center">
    <% @reviews.each do |r| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-4">
            <%= r.user.display_name %>
          </div>
          <div class="col-md-4">
            <div id="stars_<%= r.id %>"></div>
          </div>
          <div class="col-md-4">
            <%= r.review_time %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= r.comment %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to "Remove my review", r, method: :delete, data: { confirm: "Are you sure?"} if current_user && current_user == r.user %>
          </div>
        </div>
      </li>

      <script>
        $('#stars_<%= r.id %>').raty({
          path: '/images',
          readOnly: true,
          score: <%= r.star %>
        })
      </script>

    <% end %>
  </ul>
<% else %>
  <div class="text-center">
    There is no review yet.
  </div>
<% end %>
