<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <%= image_tag asset_path("favicon.png"), class:"mb-2", alt:"", width:"100", height:"100" %>
      <small class="d-block mb-3 text-muted">&copy; <%= Date.today.year %> EXHYBYT</small>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="<%= howitworks_path %>">How it works</a></li>
        <li><a class="text-muted" href="<%= about_path %>">About</a></li>
        <li><a class="text-muted" href="<%= contact_path %>">Contact</a></li>
        <li><a class="text-muted" href="<%= cookiepolicy_path %>">Cookies</a></li>
        <li><a class="text-muted" href="<%= privacypolicy_path %>">Privacy</a></li>
        <li><a class="text-muted" href="<%= terms_path %>">Terms</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <% if logged_in? %>
          <li><a class="text-muted" href="<%= new_artwork_path %>">Add Art</a></li>
          <li><a class="text-muted" href="<%= new_space_path %>">Add Space</a></li>
        <% end %>
        <li><a class="text-muted" href="<%= art_path %>">Browse Art</a></li>
        <li><a class="text-muted" href="<%= search_path %>">Find Space</a></li>
        <li><a class="text-muted" href="<%= exhibitions_path %>">Current Exhibitions</a></li>
        <li><a class="text-muted" href="<%= upcoming_exhibitions_path %>">Future Exhibitions</a></li>
      </ul>
    </div>
    <% if logged_in? %>
      <div class="col-6 col-md">
        <h5>Your...</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="<%= artworks_path %>">Artwork</a></li>
          <li><a class="text-muted" href="<%= spaces_path %>">Spaces</a></li>
          <li><a class="text-muted" href="<%= your_bookings_path %>">Bookings</a></li>
          <li><a class="text-muted" href="<%= your_reservations_path %>">Reservations</a></li>
          <li><a class="text-muted" href="<%= current_user %>">Profile</a></li>
          <li><a class="text-muted" href="<%= edit_user_path(current_user) %>">Settings</a></li>
        </ul>
      </div>
    <% else %>
      <div class="col-6 col-md">
        <h5>Join us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="<%= login_path %>">Log In</a></li>
          <li><a class="text-muted" href="<%= signup_path %>">Sign Up</a></li>
        </ul>
      </div>
    <% end %>
    <div class="col-6 col-md">
      <h5>Follow</h5>
      <ul class="list-unstyled text-small">
        <div class="container-center">
            <a href="https://www.instagram.com/exhybyt/"> <i class="fab fa-instagram fa-2x text-muted"></i></a>
            <a href="https://facebook.com/exhybyt"> <i class="fab fa-facebook-f fa-2x text-muted"></i></a>
            <a href="https://twitter.com/exhybyt"> <i class="fab fa-twitter fa-2x text-muted"></i></a>
        </div>
      </ul>
    </div>
  </div>
</footer>
