<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <%= image_tag asset_path("favicon.png"), class:"mb-2", alt:"", width:"100", height:"100" %>
      <small class="d-block mb-3 text-muted">&copy; <%= Date.today.year %> EXHYBYT</small>
    </div>
    <div class="col-6 col-md">
      <h5>How it works</h5>
      <ul class="list-unstyled text-small">
        <li><%= link_to "For Businesses", for_businesses_path, class:"text-muted" %></li>
        <li><%= link_to "For Artists", for_artists_path, class:"text-muted" %></li>
        <li><%= link_to "For Art Lovers", "#", class:"text-muted" %></li>
        <li><%= link_to "FAQs", faq_path, class:"text-muted" %></li>
        <li><%= link_to "About", about_path, class:"text-muted" %></li>
        <li><%= link_to "Contact", contact_path, class:"text-muted" %></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <% if logged_in? %>
          <li><%= link_to "Add Art", new_artwork_path, class:"text-muted" %></li>
          <li><%= link_to "Add Space", new_space_path, class:"text-muted" %></li>
        <% end %>
        <li><%= link_to "Browse Art", art_path, class:"text-muted" %></li>
        <li><%= link_to "Find Space", search_path, class:"text-muted" %></li>
        <li><%= link_to "Current Exhibitions", exhibitions_path, class:"text-muted" %></li>
        <li><%= link_to "Future Exhibitions", upcoming_exhibitions_path, class:"text-muted" %></li>
      </ul>
    </div>
    <% if logged_in? %>
      <div class="col-6 col-md">
        <h5>Your...</h5>
        <ul class="list-unstyled text-small">
          <li><%= link_to "Artwork", artworks_path, class:"text-muted" %></li>
          <li><%= link_to "Spaces", spaces_path, class:"text-muted" %></li>
          <li><%= link_to "Bookings", your_bookings_path, class:"text-muted" %></li>
          <li><%= link_to "Reservations", your_reservations_path, class:"text-muted" %></li>
          <li><%= link_to "Profile", current_user, class:"text-muted" %></li>
          <li><%= link_to "Settings", edit_user_path(current_user), class:"text-muted" %></li>
        </ul>
      </div>
    <% else %>
      <div class="col-6 col-md">
        <h5>Join us</h5>
        <ul class="list-unstyled text-small">
          <li><%= link_to "Log In", login_path, class:"text-muted" %></li>
          <li><%= link_to "Sign Up", signup_path, class:"text-muted" %></li>
        </ul>
      </div>
    <% end %>
    <div class="col-6 col-md">
      <h5>Follow</h5>
      <ul class="list-unstyled text-small">
        <div class="container-center">
            <a href="https://www.instagram.com/exhybyt/"> <i class="fab fa-instagram fa-2x text-muted"></i></a>
            <a href="https://facebook.com/exhybyt"> <i class="fab fa-facebook-f fa-2x text-muted"></i></a>
            <a href="https://twitter.com/exhybyt"> <i class="fab fa-twitter fa-2x text-muted"></i></a>
        </div>
      </ul>
    </div>
  </div>
</footer>

<footer class="footer mt-auto py-3">
  <div class="container center">
    <span class="text-muted">
      <%= link_to "Terms", terms_path, class:"text-muted" %> |
      <%= link_to "Cookie Policy", cookiepolicy_path, class:"text-muted" %> |
      <%= link_to "Privacy Policy", privacypolicy_path, class:"text-muted" %> |
        <a class="text-muted" href="https://app.termly.io/notify/8df66e0c-e37a-4958-bf91-a2f044200ae3">
        Do not sell my info
      </a>
    </span>
  </div>
</footer>
