<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container center">
    <h1>How it works</h1>
    <h2><%= link_to "Find out more", howitworks_path, class: "text-muted" %></h2>
    <div class="row">
      <div class="col-lg-3">
        <h2><i class="fa fa-store fa-3x"></i></h2>
        <h2>BUSINESSES LIST SPACES</h2>
        <p class="center">Businesses like coffee shops can list their wall space, window display or even entire galleries.</p>
        <%= link_to "Find out more", howitworks_path, class: "btn btn-secondary" %>
      </div>
      <div class="col-lg-3">
        <h2><i class="fa fa-images fa-3x"></i></h2>
        <h2>ARTISTS LIST THEIR WORK</h2>
        <p class="center">After uploading their paintings, photography or scultpures, artists can submit booking requests.</p>
        <%= link_to "Find out more", howitworks_path, class: "btn btn-secondary" %>
      </div>
      <div class="col-lg-3">
        <h2><i class="fa fa-image fa-3x"></i></h2>
        <h2>EXHIBITION WILL BE SET UP</h2>
        <p class="center">After businesses accept reservations, artists provide their artwork to the venue to exhibit. </p>
        <%= link_to "See Exhibitions", exhibitions_path, class: "btn btn-secondary" %>
      </div>
      <div class="col-lg-3">
        <h2><i class="fa fa-shopping-bag fa-3x"></i></h2>
        <h2>ART LOVERS CAN BUY ART</h2>
        <p class="center">We provide labels with QR code to display with the art to sell it. (COMING SOON)</p>
        <%= link_to "Brows Art", art_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
